<!DOCTYPE html>
<html layout:decorate="~{/templates/layout/default_layout.html}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>

<div class="content" layout:fragment="content">
  <h1 class="mt-4">Services</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Change Admin Password</li>
  </ol>


  <div class="card">
    <div class="card-body">
      <form class="container mt-4">
        <div class="mb-3">
          <label class="form-label" for="currentPassword">Current Password</label>
          <input class="form-control" id="currentPassword" placeholder="Enter current password"
                 type="password">
        </div>

        <hr/>

        <div class="mb-3">
          <label class="form-label" for="newPassword">New Password</label>
          <input class="form-control" id="newPassword" placeholder="Enter new password"
                 type="password">
        </div>
        <div class="mb-3">
          <label class="form-label" for="confirmPassword">Confirm New Password</label>
          <input class="form-control" id="confirmPassword" placeholder="Confirm new password"
                 type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
      </form>
    </div>
  </div>
</div>

</html>
