<!DOCTYPE html>
<html layout:decorate="~{/templates/layout/default_layout.html}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<th:block layout:fragment="css"></th:block>
<th:block layout:fragment="script"></th:block>

<div class="content" layout:fragment="content">
  <h1 class="mt-4">Main</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Main Layout</li>
  </ol>
</div>

</html>