<!DOCTYPE html>
<html layout:decorate="~{/templates/layout/default_layout.html}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en">

<head>
  <title>Dashboard</title>
  <script th:src="@{/js/chart.js}"></script>
  <script th:src="@{/js/chartjs-adapter-date-fns.js}"></script>
  <script th:src="@{/js/home.js}"></script>
  <style>
    .chart-container {
      position: relative;
      height: 250px;
      width: 100%;
    }

    @media (min-width: 1200px) {
      .chart-container {
        height: 300px;
      }
    }

    .card {
      margin-bottom: 1rem;
    }

    .card-title {
      font-size: 1rem;
    }

    .card-text {
      font-size: 0.9rem;
    }

    .table th, .table td {
      vertical-align: middle;
    }

    .badge {
      font-size: 0.8rem;
    }

    .method-icon {
      display: inline-block;
      width: 60px;
      height: 25px;
      line-height: 25px;
      text-align: center;
      border-radius: 5px;
      color: white;
      margin-right: 10px;
    }
  </style>
  <script th:inline="javascript">
    /*<![CDATA[*/
    let recentEndpointMetrics = [[${recentEndpointMetrics}]].reverse();
    let systemMetrics = [[${recentSystemMetrics}]];
    /*]]>*/

    document.addEventListener('DOMContentLoaded', function () {
      var tooltipTriggerList = [].slice.call(
          document.querySelectorAll('[data-bs-toggle="tooltip"]'));
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl);
      });

      createChart('chart-cpu', 'CPU Usage', systemMetrics.map(metric => metric.cpuUsagePercent),
          '%', {max: 100, min: 1});
      createChart('chart-memory', 'Memory Usage',
          systemMetrics.map(metric => metric.memoryUsagePercent), '%', {max: 100, min: 1});
      createChart('chart-disk', 'Disk Usage', systemMetrics.map(metric => metric.diskUsagePercent),
          '%', {max: 100, min: 1});
      createChart('chart-jvm-heap', 'JVM Heap Usage',
          systemMetrics.map(metric => metric.jvmHeapUsagePercent), '%', {max: 100, min: 1});
      createChart('chart-jvm-non-heap', 'JVM Non-Heap Usage',
          systemMetrics.map(metric => metric.jvmNonHeapUsagePercent), '%', {max: 100, min: 1});

      createEndpointChart('chart-visit-count', 'Visit Count',
          recentEndpointMetrics.map(item => item.totalPageView), 'Visits');
      createEndpointChart('chart-response-time', 'Avg Response Time',
          recentEndpointMetrics.map(item => item.averageResponseTime), 'ms');
      createEndpointChart('chart-rate-limit-failures', 'Rate Limit Failures',
          recentEndpointMetrics.map(item => item.ratelimitFailCount), 'Failures');

      createNetworkChart();
      createEndpointMetricsChart();
    });
  </script>
</head>

<div class="content" layout:fragment="content">
  <div class="container-fluid">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h4">Dashboard</h1>
    </div>

    <div class="row">
      <div class="col-md-6 col-xl-3 mb-3">
        <div class="card text-center shadow-sm" style="border-radius: 1rem;">
          <div class="card-body">
            <h6 class="card-title">Total Endpoints</h6>
            <i class="bi bi-diagram-3 fs-2" style="color: #6c757d;"></i>
            <p class="card-text fs-5" th:text="${totalEndpointCount}"></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-3 mb-3">
        <div class="card text-center shadow-sm" style="border-radius: 1rem;">
          <div class="card-body">
            <h6 class="card-title">Endpoints with Active Ratelimits</h6>
            <i class="bi bi-shield-check fs-2" style="color: #28a745;"></i>
            <p class="card-text fs-5" th:text="${totalEndpointCountActive}"></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-3 mb-3">
        <div class="card text-center shadow-sm" style="border-radius: 1rem;">
          <div class="card-body">
            <h6 class="card-title">Endpoints without Ratelimits</h6>
            <i class="bi bi-shield-x fs-2" style="color: #dc3545;"></i>
            <p class="card-text fs-5" th:text="${totalEndpointCountNotActive}"></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-3 mb-3">
        <div class="card text-center shadow-sm" style="border-radius: 1rem;">
          <div class="card-body">
            <h6 class="card-title">High Traffic Endpoints</h6>
            <i class="bi bi-graph-up fs-2" style="color: #007bff;"></i>
            <p class="card-text fs-5">5</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12">
        <div class="card shadow-sm">
          <div class="card-header bg-success text-white">
            <h5 class="card-title mb-0">Endpoint Metrics</h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4 mb-3">
                <div class="card">
                  <div class="card-header">
                    <h6 class="my-0 fw-normal">Daily Visit Count</h6>
                  </div>
                  <div class="card-body">
                    <canvas id="chart-visit-count"></canvas>
                  </div>
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <div class="card">
                  <div class="card-header">
                    <h6 class="my-0 fw-normal">Average Response Time</h6>
                  </div>
                  <div class="card-body">
                    <canvas id="chart-response-time"></canvas>
                  </div>
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <div class="card">
                  <div class="card-header">
                    <h6 class="my-0 fw-normal">Rate Limit Failures</h6>
                  </div>
                  <div class="card-body">
                    <canvas id="chart-rate-limit-failures"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <!-- Top Ratelimit Error Endpoints -->
              <div class="col-md-6 col-lg-4 mb-3">
                <div class="card shadow-sm" style="border-radius: 1rem;">
                  <div class="card-header">
                    <h6 class="my-0 fw-normal">Top Ratelimit Error Endpoints</h6>
                  </div>
                  <div class="card-body">
                    <ul class="list-group" id="dailyTopFail"
                        th:if="${not #lists.isEmpty(dailyTopFailure)}">
                      <li th:each="metric : ${dailyTopFailure}"
                          class="list-group-item d-flex justify-content-between align-items-center">
          <span th:class="'method-icon method-' + ${metric.method.toLowerCase()}"
                th:text="${metric.method}"></span>
                        <span th:text="${metric.endpoint}"></span>
                        <span class="badge bg-danger rounded-pill"
                              th:text="${metric.count}"></span>
                      </li>
                    </ul>
                    <p class="text-center text-muted my-3"
                       th:if="${#lists.isEmpty(dailyTopFailure)}">
                      No Data Available
                    </p>
                  </div>
                </div>
              </div>

              <!-- Daily Top Traffic Endpoints -->
              <div class="col-md-6 col-lg-4 mb-3">
                <div class="card shadow-sm" style="border-radius: 1rem;">
                  <div class="card-header">
                    <h6 class="my-0 fw-normal">Daily Top Traffic Endpoints</h6>
                  </div>
                  <div class="card-body">
                    <ul class="list-group" id="dailyTopTraffic"
                        th:if="${not #lists.isEmpty(dailyTopTraffic)}">
                      <li th:each="metric : ${dailyTopTraffic}"
                          class="list-group-item d-flex justify-content-between align-items-center">
          <span th:class="'method-icon method-' + ${metric.method.toLowerCase()}"
                th:text="${metric.method}"></span>
                        <span th:text="${metric.endpoint}"></span>
                        <span class="badge bg-primary rounded-pill"
                              th:text="${metric.count}"></span>
                      </li>
                    </ul>
                    <p class="text-center text-muted my-3"
                       th:if="${#lists.isEmpty(dailyTopTraffic)}">
                      No Data Available
                    </p>
                  </div>
                </div>
              </div>

              <!-- Daily Slowest Endpoints -->
              <div class="col-md-6 col-lg-4 mb-3">
                <div class="card shadow-sm" style="border-radius: 1rem;">
                  <div class="card-header">
                    <h6 class="my-0 fw-normal">Daily Slowest Endpoints</h6>
                  </div>
                  <div class="card-body">
                    <ul class="list-group" id="dailySlowestEndpoints"
                        th:if="${not #lists.isEmpty(dailySlowestEndpoints)}">
                      <li th:each="metric : ${dailySlowestEndpoints}"
                          class="list-group-item d-flex justify-content-between align-items-center">
          <span th:class="'method-icon method-' + ${metric.method.toLowerCase()}"
                th:text="${metric.method}"></span>
                        <span th:text="${metric.endpoint}"></span>
                        <span class="badge bg-danger rounded-pill"
                              th:text="${metric.averageResponseTime} + ' ms'"></span>
                      </li>
                    </ul>
                    <p class="text-center text-muted my-3"
                       th:if="${#lists.isEmpty(dailySlowestEndpoints)}">
                      No Data Available
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12">
        <div class="card shadow-sm">
          <div class="card-header bg-success text-white">
            <h5 class="card-title mb-0">System Metrics</h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4 mb-3">
                <div class="card">
                  <div class="card-header">
                    <h6 class="my-0 fw-normal">CPU Usage</h6>
                  </div>
                  <div class="card-body">
                    <canvas id="chart-cpu"></canvas>
                  </div>
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <div class="card">
                  <div class="card-header">
                    <h6 class="my-0 fw-normal">Memory Usage</h6>
                  </div>
                  <div class="card-body">
                    <canvas id="chart-memory"></canvas>
                  </div>
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <div class="card">
                  <div class="card-header">
                    <h6 class="my-0 fw-normal">Disk Usage</h6>
                  </div>
                  <div class="card-body">
                    <canvas id="chart-disk"></canvas>
                  </div>
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <div class="card">
                  <div class="card-header">
                    <h6 class="my-0 fw-normal">JVM Heap Usage</h6>
                  </div>
                  <div class="card-body">
                    <canvas id="chart-jvm-heap"></canvas>
                  </div>
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <div class="card">
                  <div class="card-header">
                    <h6 class="my-0 fw-normal">JVM Non-Heap Usage</h6>
                  </div>
                  <div class="card-body">
                    <canvas id="chart-jvm-non-heap"></canvas>
                  </div>
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <div class="card">
                  <div class="card-header">
                    <h6 class="my-0 fw-normal">Network Usage</h6>
                  </div>
                  <div class="card-body">
                    <canvas id="chart-network"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 mb-3">
        <div class="card shadow-sm" style="border-radius: 1rem;">
          <div class="card-header">
            <h6 class="my-0 fw-normal">Ratelimit Issues</h6>
          </div>
          <div class="card-body">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>#</th>
                <th>Endpoint</th>
                <th>Issue Type</th>
                <th>Detail</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <!--/*@thymesVar id="endpointChangeLog" type="org.easypeelsecurity.springdog.shared.dto.EndpointChangelogDto"*/-->
              <tr th:each="changeLog : ${endpointChangeLog}">
                <td th:text="${changeLog.id}"></td>
                <td>
                  [<span th:text="${changeLog.targetMethod}"></span>]&nbsp;
                  <span th:text="${changeLog.targetPath}"></span>
                </td>
                <td th:text="${changeLog.changeType.name}" data-bs-toggle="tooltip"
                    th:data-bs-title="${changeLog.changeType.description}"></td>
                <td th:text="${changeLog.detailString}"></td>
                <td>
                  <th:block th:if="${changeLog.isResolved != true}">
                    <button type="button" class="btn btn-sm btn-success">Mark as resolved</button>
                  </th:block>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</html>
