<!DOCTYPE html>
<html layout:decorate="~{/templates/layout/default_layout.html}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en">

<head>
  <title>Dashboard</title>
  <script th:src="@{/js/chart.js}"></script>
  <script th:src="@{/js/chartjs-adapter-date-fns.js}"></script>
  <style>
    .chart-container {
      position: relative;
      height: 250px;
      width: 100%;
    }

    @media (min-width: 1200px) {
      .chart-container {
        height: 300px;
      }
    }

    .card {
      margin-bottom: 1rem;
    }

    .card-title {
      font-size: 1rem;
    }

    .card-text {
      font-size: 0.9rem;
    }

    .table th, .table td {
      vertical-align: middle;
    }

    .badge {
      font-size: 0.8rem;
    }

    .method-icon {
      display: inline-block;
      width: 60px;
      height: 25px;
      line-height: 25px;
      text-align: center;
      border-radius: 5px;
      color: white;
      margin-right: 10px;
    }

    .method-get {
      background-color: #28a745; /* Green */
    }

    .method-post {
      background-color: #007bff; /* Blue */
    }

    .method-put {
      background-color: #ffc107; /* Yellow */
    }

    .method-delete {
      background-color: #dc3545; /* Red */
    }
  </style>
  <script th:inline="javascript">
    /*<![CDATA[*/
    let recentSystemMetrics = [[${recentSystemMetrics}]].reverse();
    let recentEndpointMetrics = [[${recentEndpointMetrics}]].reverse();
    /*]]>*/

    const labels = recentSystemMetrics.map(
        metric => new Date(metric.timestamp).toLocaleTimeString());
    const cpuUsageData = recentSystemMetrics.map(
        metric => (metric.cpuUsagePercent !== null && !isNaN(metric.cpuUsagePercent)
            && metric.cpuUsagePercent !== 0) ? metric.cpuUsagePercent : null);
    const memoryUsageData = recentSystemMetrics.map(
        metric => (metric.memoryUsagePercent !== null && !isNaN(metric.memoryUsagePercent)
            && metric.memoryUsagePercent !== 0) ? metric.memoryUsagePercent : null);
    const diskUsageData = recentSystemMetrics.map(
        metric => (metric.diskUsagePercent !== null && !isNaN(metric.diskUsagePercent)
            && metric.diskUsagePercent !== 0) ? metric.diskUsagePercent : null);

    window.onload = function () {

      const ctx = document.getElementById('endpointMetricsChart').getContext('2d');
      new Chart(ctx, {
        type: 'line',
        data: {
          labels: recentEndpointMetrics.map(item => item.baseDate),
          datasets: [
            {
              label: 'Visit Count',
              data: recentEndpointMetrics.map(item => item.visitCount),
              borderColor: 'rgb(75, 192, 192)',
              tension: 0.1
            },
            {
              label: 'Average Response Time (ms)',
              data: recentEndpointMetrics.map(item => item.averageResponseMilliseconds),
              borderColor: 'rgb(255, 99, 132)',
              tension: 0.1
            },
            {
              label: 'Rate Limit Failures',
              data: recentEndpointMetrics.map(item => item.ratelimitFailureCount),
              borderColor: 'rgb(54, 162, 235)',
              tension: 0.1
            }
          ]
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          scales: {
            x: {
              title: {
                display: true,
                text: 'Date'
              }
            },
            y: {
              beginAtZero: true,
              title: {
                display: true,
                text: 'Value'
              }
            }
          },
          legend: {
            position: 'top',
          },
          title: {
            display: true,
            text: 'Endpoint Metrics'
          }
        }
      });

      const ctx2 = document.getElementById('systemUsageChart').getContext('2d');
      const systemUsageChart = new Chart(ctx2, {
        type: 'line',
        data: {
          labels: labels,
          datasets: [
            {
              label: 'CPU Usage (%)',
              data: cpuUsageData,
              backgroundColor: 'rgba(255, 206, 86, 0.2)',
              borderColor: 'rgba(255, 206, 86, 1)',
              borderWidth: 1
            },
            {
              label: 'Memory Usage (%)',
              data: memoryUsageData,
              backgroundColor: 'rgba(54, 162, 235, 0.2)',
              borderColor: 'rgba(54, 162, 235, 1)',
              borderWidth: 1
            },
            {
              label: 'Disk Usage (%)',
              data: diskUsageData,
              backgroundColor: 'rgba(255, 99, 132, 0.2)',
              borderColor: 'rgba(255, 99, 132, 1)',
              borderWidth: 1
            }
          ]
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          scales: {
            x: {
              ticks: {
                callback: function (value, index, values) {
                  return index % 5 === 0 ? this.getLabelForValue(value) : '';
                }
              }
            },
            y: {
              beginAtZero: true,
              title: {
                display: true,
                text: 'Usage (%)'
              }
            }
          },
          plugins: {
            tooltip: {
              callbacks: {
                title: function (tooltipItems, data) {
                  const index = tooltipItems[0].dataIndex;
                  const metric = recentSystemMetrics[index];
                  const timestamp = new Date(metric.timestamp);
                  return timestamp.toLocaleString();
                },
                label: function (tooltipItem) {
                  const metric = recentSystemMetrics[tooltipItem.dataIndex];
                  return [
                    `CPU Usage: ${metric.cpuUsagePercent}%`,
                    `Memory Usage: ${metric.memoryUsagePercent}%`,
                    `Disk Usage: ${metric.diskUsagePercent}%`
                  ];
                }
              }
            }
          }
        }
      });
    }

    document.addEventListener('DOMContentLoaded', function () {
      var tooltipTriggerList = [].slice.call(
          document.querySelectorAll('[data-bs-toggle="tooltip"]'));
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl);
      });
    });
  </script>
</head>

<div class="content" layout:fragment="content">
  <div class="container-fluid">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h4">Dashboard</h1>
    </div>

    <div class="row">
      <div class="col-md-6 col-xl-3 mb-3">
        <div class="card text-center shadow-sm" style="border-radius: 1rem;">
          <div class="card-body">
            <h6 class="card-title">Total Endpoints</h6>
            <i class="bi bi-diagram-3 fs-2" style="color: #6c757d;"></i>
            <p class="card-text fs-5" th:text="${totalEndpointCount}"></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-3 mb-3">
        <div class="card text-center shadow-sm" style="border-radius: 1rem;">
          <div class="card-body">
            <h6 class="card-title">Endpoints with Active Ratelimits</h6>
            <i class="bi bi-shield-check fs-2" style="color: #28a745;"></i>
            <p class="card-text fs-5" th:text="${totalEndpointCountActive}"></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-3 mb-3">
        <div class="card text-center shadow-sm" style="border-radius: 1rem;">
          <div class="card-body">
            <h6 class="card-title">Endpoints without Ratelimits</h6>
            <i class="bi bi-shield-x fs-2" style="color: #dc3545;"></i>
            <p class="card-text fs-5" th:text="${totalEndpointCountNotActive}"></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-3 mb-3">
        <div class="card text-center shadow-sm" style="border-radius: 1rem;">
          <div class="card-body">
            <h6 class="card-title">High Traffic Endpoints</h6>
            <i class="bi bi-graph-up fs-2" style="color: #007bff;"></i>
            <p class="card-text fs-5">5</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-lg-8 mb-3">
        <div class="card shadow-sm" style="border-radius: 1rem;">
          <div class="card-header">
            <h6 class="my-0 fw-normal">Daily Endpoint Statistics</h6>
          </div>
          <div class="card-body">
            <div class="chart-container">
              <canvas id="endpointMetricsChart"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-4 mb-3">
        <div class="card shadow-sm" style="border-radius: 1rem;">
          <div class="card-header">
            <h6 class="my-0 fw-normal">System Metrics</h6>
          </div>
          <div class="card-body">
            <div class="chart-container">
              <canvas id="systemUsageChart"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-4 mb-3">
        <div class="card shadow-sm" style="border-radius: 1rem;">
          <div class="card-header">
            <h6 class="my-0 fw-normal">Top Ratelimit Error Endpoints</h6>
          </div>
          <div class="card-body">
            <ul class="list-group" id="dailyTopFail">
              <li th:each="metric : ${dailyTopFailure}"
                  class="list-group-item d-flex justify-content-between align-items-center">
                <span th:class="'method-icon method-' + ${metric.method.toLowerCase()}"
                      th:text="${metric.method}"></span>
                <span th:text="${metric.path}"></span>
                <span class="badge bg-danger rounded-pill"
                      th:text="${metric.ratelimitFailureCount}"></span>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-3">
        <div class="card shadow-sm" style="border-radius: 1rem;">
          <div class="card-header">
            <h6 class="my-0 fw-normal">Daily Top Traffic Endpoints</h6>
          </div>
          <div class="card-body">
            <ul class="list-group" id="dailyTopTraffic">
              <li th:each="metric : ${dailyTopTraffic}"
                  class="list-group-item d-flex justify-content-between align-items-center">
                <span th:class="'method-icon method-' + ${metric.method.toLowerCase()}"
                      th:text="${metric.method}"></span>
                <span th:text="${metric.path}"></span>
                <span class="badge bg-primary rounded-pill" th:text="${metric.visitCount}"></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-3">
        <div class="card shadow-sm" style="border-radius: 1rem;">
          <div class="card-header">
            <h6 class="my-0 fw-normal">Daily Slowest Endpoints</h6>
          </div>
          <div class="card-body">
            <ul class="list-group" id="dailySlowestEndpoints">
              <li th:each="metric : ${dailySlowestEndpoints}"
                  class="list-group-item d-flex justify-content-between align-items-center">
                <span th:class="'method-icon method-' + ${metric.method.toLowerCase()}"
                      th:text="${metric.method}"></span>
                <span th:text="${metric.path}"></span>
                <span class="badge bg-danger rounded-pill"
                      th:text="${metric.averageResponseMilliseconds} + ' ms'"></span>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 mb-3">
        <div class="card shadow-sm" style="border-radius: 1rem;">
          <div class="card-header">
            <h6 class="my-0 fw-normal">Ratelimit Issues</h6>
          </div>
          <div class="card-body">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>#</th>
                <th>Endpoint</th>
                <th>Issue Type</th>
                <th>Detail</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <!--/*@thymesVar id="endpointChangeLog" type="org.easypeelsecurity.springdog.shared.ratelimit.model.EndpointChangeLog"*/-->
              <tr th:each="changeLog : ${endpointChangeLog}">
                <td th:text="${changeLog.id}"></td>
                <td>
                  [<span th:text="${changeLog.targetMethod}"></span>]&nbsp;
                  <span th:text="${changeLog.targetPath}"></span>
                </td>
                <td th:text="${changeLog.changeType.name}" data-bs-toggle="tooltip"
                    th:data-bs-title="${changeLog.changeType.description}"></td>
                <td th:text="${changeLog.detailString}"></td>
                <td>
                  <th:block th:if="${changeLog.isResolved != true}">
                    <button type="button" class="btn btn-sm btn-success">Mark as resolved</button>
                  </th:block>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</html>
