<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright 2024 the original author or authors.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<graphs xmlns="http://cayenne.apache.org/schema/10/graph">
	<graph type="ER" scale="0.7692307692307692">
		<entity name="ENDPOINT_ENDPOINTPARAMETER" x="1345.08" y="59.71" width="210.0" height="62.0"/>
		<entity name="ENDPOINTPARAMETER" x="1035.72" y="0.0" width="140.0" height="122.0"/>
		<entity name="ENDPOINT" x="1139.48" y="300.72" width="156.0" height="212.0"/>
		<entity name="ENDPOINTCHANGELOG" x="794.44" y="588.22" width="155.0" height="152.0"/>
		<entity name="ENDPOINTVERSIONCONTROL" x="502.67" y="351.74" width="180.0" height="77.0"/>
	</graph>
	<graph type="CLASS" scale="1.365498406918525">
		<entity name="EndpointChangelog" x="97.46" y="347.63" width="125.0" height="122.0"/>
		<entity name="Endpoint" x="1459.07" y="241.09" width="137.0" height="197.0"/>
		<entity name="EndpointParameter" x="1349.56" y="0.0" width="120.0" height="92.0"/>
		<entity name="EndpointVersionControl" x="0.0" y="652.89" width="152.0" height="62.0"/>
	</graph>
</graphs>
