<!DOCTYPE html>
<html layout:decorate="~{/templates/layout/default_layout.html}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">


<head>
  <title>Ratelimit - API Setting</title>
  <style>
    [data-card-type="request-control"]:not([data-enabled="true"]) .hover-message {
      display: block;
      position: absolute;
      background-color: #f8f9fa;
      border: 1px solid #ccc;
      padding: 10px;
      z-index: 100;
      width: 100%;
      top: 0;
      left: 0;
      text-align: center;
    }

  </style>
  <script>
    function updateStatusValue(obj) {
      let hiddenInput = document.getElementById('statusValue');
      hiddenInput.value = obj.checked ? 'ACTIVE' : 'INACTIVE';
    }

    $(document).ready(function () {
      let checkbox = document.getElementById("permanentBan");
      checkbox.addEventListener("change", function () {
        let banDurationGroup = document.getElementById("banDurationGroup");
        for (let input of banDurationGroup.getElementsByTagName("input")) {
          input.value = "0";
          input.disabled = checkbox.checked;
        }
      });

      for (let input of document.getElementById("timeFrameGroup").getElementsByTagName("input")) {
        input.addEventListener("input", function () {
          let timeFrameSeconds = document.getElementById("timeFrameSeconds");
          let timeFrameMinutes = document.getElementById("timeFrameMinutes");
          let timeFrameHours = document.getElementById("timeFrameHours");
          let timeFrameDays = document.getElementById("timeFrameDays");

          let seconds = parseInt(timeFrameSeconds.value) || 0;
          let minutes = parseInt(timeFrameMinutes.value) || 0;
          let hours = parseInt(timeFrameHours.value) || 0;
          let days = parseInt(timeFrameDays.value) || 0;

          document.querySelector("input[name='ruleTimeLimitInSeconds']").value = seconds + minutes
              * 60 + hours * 3600 + days * 86400;
        });
      }

      for (let input of document.getElementById("banDurationGroup").getElementsByTagName("input")) {
        input.addEventListener("input", function () {
          let banDurationSeconds = document.getElementById("banDurationSeconds");
          let banDurationMinutes = document.getElementById("banDurationMinutes");
          let banDurationHours = document.getElementById("banDurationHours");
          let banDurationDays = document.getElementById("banDurationDays");

          let seconds = parseInt(banDurationSeconds.value) || 0;
          let minutes = parseInt(banDurationMinutes.value) || 0;
          let hours = parseInt(banDurationHours.value) || 0;
          let days = parseInt(banDurationDays.value) || 0;

          document.querySelector("input[name='ruleBanTimeInSeconds']").value = seconds + minutes
              * 60 + hours * 3600 + days * 86400;
        });
      }

      let requestControlCard = document.querySelector('[data-card-type="request-control"]');

      function toggleCardAvailability(isEnabled) {
        [requestControlCard].forEach(card => {
          let inputs = card.querySelectorAll('input, select');
          inputs.forEach(input => input.disabled = !isEnabled);
        });
      }

      let statusToggle = document.getElementById('statusToggle');
      toggleCardAvailability(statusToggle.checked);

      document.getElementById('statusToggle').addEventListener('change', function () {
        let isEnabled = this.checked;
        let inputs = requestControlCard.querySelectorAll('input, select');
        inputs.forEach(input => input.disabled = !isEnabled);

        requestControlCard.setAttribute('data-enabled', isEnabled);
        let label = this.nextElementSibling;
        label.innerText = isEnabled ? 'enabled' : 'disabled';
      });

      $("#headerOption").select2({
        placeholder: 'Select headers',
        "language": {
          noResults: () => "No headers found."
        },
        allowClear: true
      })

      const paramEnableInput = document.createElement("input");
      paramEnableInput.type = "hidden";
      paramEnableInput.name = "parameterNamesToEnable";

      const form = document.querySelector("form[name=editRule]");
      form.appendChild(paramEnableInput);

      $("#parametersOption").select2({
        placeholder: 'Select parameters',
        "language": {
          noResults: () => "No parameters found."
        },
        allowClear: true
      }).on("change", function () {
        const selectedData = $(this).select2("data");
        paramEnableInput.value = selectedData.map(item => item.element.dataset.name).join(",");
      });
    });
  </script>
</head>

<div class="container content" layout:fragment="content">
  <h1 class="mt-4">Rate Limit Settings</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Setting</li>
  </ol>

  <th:block th:if="${result != null}">
    <div class="alert alert-success" th:if="${result == true}">
      <strong th:text="${message}"></strong>
    </div>

    <div class="alert alert-danger" th:if="${result == false}">
      <strong>Error!</strong> <strong th:text="${message}"></strong>
    </div>
  </th:block>

  <form method="post" name="editRule" th:object="${api}">
    <div class="card mb-4">
      <div class="card-body">
        <div class="form-check form-switch">
          <p class="card-text">
            <strong>RateLimit</strong>
            <input id="statusValue" th:field="*{ruleStatus}" type="hidden"/>
            <input class="form-check-input" id="statusToggle" onchange="updateStatusValue(this)"
                   th:checked="${api.ruleStatus == T(org.easypeelsecurity.springdog.shared.ratelimit.model.RuleStatus).ACTIVE}"
                   type="checkbox">
            will be
            <label class="form-check-label text-decoration-underline" for="statusToggle"
                   th:text="${api.ruleStatus == T(org.easypeelsecurity.springdog.shared.ratelimit.model.RuleStatus).ACTIVE ? 'enabled' : 'disabled'}"></label>
            on this API.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Endpoint Information</h5>
        <p class="card-text">
          <strong>API Path:</strong>
        <div class="alert alert-info" th:text="${api.path}"></div>
        <strong>Request Type:</strong>
        <div class="alert alert-info" th:text="${api.httpMethod}"></div>
        <strong>Fully qualified method name:</strong>
        <div class="alert alert-info" th:text="${api.fqmn}"></div>
        <input th:field="*{fqmn}" type="hidden"/>
        <input th:field="*{id}" type="hidden"/>
      </div>
    </div>

    <div class="card mt-3" data-card-type="request-control">
      <div class="card-body">
        <h5 class="card-title">Request Control Settings</h5>
        <div class="hover-message" style="display: none;">If you want to change values, please
          enable RateLimit.
        </div>
        <div class="mb-3">
          <label class="form-label" for="requestLimit">Request Limit</label>
          <input class="form-control" id="requestLimit" placeholder="Number of requests"
                 th:field="*{ruleRequestLimitCount}" type="number">
        </div>
        <div class="mb-3">
          <label class="form-label">Time Frame</label>
          <div class="d-flex flex-row" id="timeFrameGroup">
            <div class="form-floating me-2 flex-fill">
              <input class="form-control" id="timeFrameDays" placeholder="Days"
                     th:value="*{timeLimitDays}"
                     type="number">
              <label for="timeFrameDays">Days</label>
            </div>
            <div class="form-floating me-2 flex-fill">
              <input class="form-control" id="timeFrameHours" placeholder="Hours"
                     th:value="*{timeLimitHours}"
                     type="number">
              <label for="timeFrameHours">Hours</label>
            </div>
            <div class="form-floating me-2 flex-fill">
              <input class="form-control" id="timeFrameMinutes" placeholder="Minutes"
                     th:value="*{timeLimitMinutes}" type="number">
              <label for="timeFrameMinutes">Minutes</label>
            </div>
            <div class="form-floating flex-fill">
              <input class="form-control" id="timeFrameSeconds" placeholder="Seconds"
                     th:value="*{timeLimitSeconds}" type="number">
              <label for="timeFrameSeconds">Seconds</label>
            </div>
            <input type="hidden" th:field="*{ruleTimeLimitInSeconds}"/>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Ban Duration</label>
          <div class="d-flex flex-row" id="banDurationGroup">
            <div class="form-floating me-2 flex-fill">
              <input class="form-control" id="banDurationDays" placeholder="Days"
                     th:value="*{banTimeDays}"
                     type="number">
              <label for="banDurationDays">Days</label>
            </div>
            <div class="form-floating me-2 flex-fill">
              <input class="form-control" id="banDurationHours" placeholder="Hours"
                     th:value="*{banTimeHours}"
                     type="number">
              <label for="banDurationHours">Hours</label>
            </div>
            <div class="form-floating me-2 flex-fill">
              <input class="form-control" id="banDurationMinutes" placeholder="Minutes"
                     th:value="*{banTimeMinutes}" type="number">
              <label for="banDurationMinutes">Minutes</label>
            </div>
            <div class="form-floating flex-fill">
              <input class="form-control" id="banDurationSeconds" placeholder="Seconds"
                     th:value="*{banTimeSeconds}" type="number">
              <label for="banDurationSeconds">Seconds</label>
            </div>
            <input type="hidden" th:field="*{ruleBanTimeInSeconds}"/>
          </div>
        </div>

        <div class="mb-3">
          <div class="align-checkbox">
            <input class="form-check-input" id="permanentBan" type="checkbox">
            <label class="form-check-label" for="permanentBan"
                   th:field="*{rulePermanentBan}">Permanent Ban</label>
          </div>
        </div>
      </div>

      <div class="card-body">
        <h5 class="card-title">Ban Ruleset combinations</h5>
        <div class="mb-3 row">
          <label class="form-label" for="parametersOption">Parameters</label>
          <select class="form-control" id="parametersOption" multiple>
            <option th:data-name="${parameter.name}"
                    th:data-id="${parameter.id}"
                    th:each="parameter : ${api.parameters}"
                    th:selected="${parameter.isEnabled()}"
                    th:text="${parameter.name + ' [' + parameter.type + ']'}"></option>
          </select>
        </div>
        <div class="mb-3 row">
          <label class="form-label" for="headerOption">Custom Header</label>
          <select class="form-control" id="headerOption" multiple></select>
        </div>
        <div class="form-check mb-3">
          <input class="form-check-input" id="ipBlock"
                 th:field="*{ruleIpBased}"
                 type="checkbox">
          <label class="form-check-label" for="ipBlock">Enable IP-based Blocking</label>
        </div>
      </div>
    </div>

    <div class="mt-3">
      <button class="btn btn-primary" type="submit">Apply</button>
    </div>
  </form>
</div>

</html>
