<!DOCTYPE html>
<html layout:decorate="~{/templates/layout/default_layout.html}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">


<head>
  <title>Ratelimit - API Setting</title>
  <style>
    [data-card-type="request-control"]:not([data-enabled="true"]) .hover-message {
      display: block;
      position: absolute;
      background-color: #f8f9fa;
      border: 1px solid #ccc;
      padding: 10px;
      z-index: 100;
      width: 100%;
      top: 0;
      left: 0;
      text-align: center;
    }

  </style>
  <script>
    function updateStatusValue(obj) {
      let hiddenInput = document.getElementById('statusValue');
      hiddenInput.value = obj.checked ? 'ACTIVE' : 'INACTIVE';
    }

    $(document).ready(function () {
      let checkbox = document.getElementById("permanentBan");
      checkbox.addEventListener("change", function () {
        let banDurationGroup = document.getElementById("banDurationGroup");
        for (let input of banDurationGroup.getElementsByTagName("input")) {
          input.value = "";
          input.disabled = checkbox.checked;
        }
      });

      let requestControlCard = document.querySelector('[data-card-type="request-control"]');

      function toggleCardAvailability(isEnabled) {
        [requestControlCard].forEach(card => {
          let inputs = card.querySelectorAll('input, select');
          inputs.forEach(input => input.disabled = !isEnabled);
        });
      }

      let statusToggle = document.getElementById('statusToggle');
      toggleCardAvailability(statusToggle.checked);

      document.getElementById('statusToggle').addEventListener('change', function () {
        let isEnabled = this.checked;
        let inputs = requestControlCard.querySelectorAll('input, select');
        inputs.forEach(input => input.disabled = !isEnabled);

        requestControlCard.setAttribute('data-enabled', isEnabled);
        let label = this.nextElementSibling;
        label.innerText = isEnabled ? 'enabled' : 'disabled';
      });

      $("#parametersOption").select2({
        placeholder: 'Select parameters',
        "language": {
          noResults: () => "No parameters found."
        },
        allowClear: true
      });

      $("#headerOption").select2({
        placeholder: 'Select headers',
        "language": {
          noResults: () => "No headers found."
        },
        allowClear: true
      });
    });
  </script>
</head>

<div class="container content" layout:fragment="content">
  <h1 class="mt-4">Rate Limit Settings</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Setting</li>
  </ol>

  <th:block th:if="${result != null}">
    <div class="alert alert-success" th:if="${result == true}">
      <strong th:text="${message}"></strong>
    </div>

    <div class="alert alert-danger" th:if="${result == false}">
      <strong>Error!</strong> <strong th:text="${message}"></strong>
    </div>
  </th:block>

  <form method="post" th:object="${api}">
    <div class="card mb-4">
      <div class="card-body">
        <div class="form-check form-switch">
          <p class="card-text">
            <strong>RateLimit</strong>
            <input type="hidden" id="statusValue" th:field="*{ruleset.status}"/>
            <input type="checkbox" class="form-check-input" id="statusToggle"
                   th:checked="${api.ruleset.status == T(org.easypeelsecurity.springdog.shared.ratelimit.model.RuleStatus).ACTIVE}"
                   onchange="updateStatusValue(this)">
            will be
            <label class="form-check-label text-decoration-underline" for="statusToggle"
                   th:text="${api.ruleset.status == T(org.easypeelsecurity.springdog.shared.ratelimit.model.RuleStatus).ACTIVE ? 'enabled' : 'disabled'}"></label>
            on this API.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Endpoint Information</h5>
        <p class="card-text">
          <strong>API Path:</strong>
        <div class="alert alert-info" th:text="${api.path}"></div>
        <strong>Request Type:</strong>
        <div class="alert alert-info" th:text="${api.httpMethod}"></div>
        <strong>Controller Class:</strong>
        <div class="alert alert-info" th:text="${api.fqcn}"></div>
      </div>
    </div>

    <div class="card mt-3" data-card-type="request-control">
      <div class="card-body">
        <h5 class="card-title">Request Control Settings</h5>
        <div class="hover-message" style="display: none;">If you want to change values, please
          enable RateLimit.
        </div>
        <div class="mb-3">
          <label for="requestLimit" class="form-label">Request Limit</label>
          <input type="number" class="form-control" id="requestLimit"
                 placeholder="Number of requests" th:field="*{ruleset.requestLimitCount}">
        </div>
        <div class="mb-3">
          <label class="form-label">Time Frame</label>
          <div class="d-flex flex-row" id="timeFrameGroup">
            <div class="form-floating me-2 flex-fill">
              <input type="number" class="form-control" id="timeFrameDays" placeholder="Days"
                     th:field="*{ruleset.timeLimitDays}">
              <label for="timeFrameDays">Days</label>
            </div>
            <div class="form-floating me-2 flex-fill">
              <input type="number" class="form-control" id="timeFrameHours" placeholder="Hours"
                     th:field="*{ruleset.timeLimitHours}">
              <label for="timeFrameHours">Hours</label>
            </div>
            <div class="form-floating me-2 flex-fill">
              <input type="number" class="form-control" id="timeFrameMinutes"
                     placeholder="Minutes" th:field="*{ruleset.timeLimitMinutes}">
              <label for="timeFrameMinutes">Minutes</label>
            </div>
            <div class="form-floating flex-fill">
              <input type="number" class="form-control" id="timeFrameSeconds"
                     placeholder="Seconds" th:field="*{ruleset.timeLimitSeconds}">
              <label for="timeFrameSeconds">Seconds</label>
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Ban Duration</label>
          <div class="d-flex flex-row" id="banDurationGroup">
            <div class="form-floating me-2 flex-fill">
              <input type="number" class="form-control" id="banDurationDays" placeholder="Days"
                     th:field="*{ruleset.banTimeDays}">
              <label for="banDurationDays">Days</label>
            </div>
            <div class="form-floating me-2 flex-fill">
              <input type="number" class="form-control" id="banDurationHours" placeholder="Hours"
                     th:field="*{ruleset.banTimeHours}">
              <label for="banDurationHours">Hours</label>
            </div>
            <div class="form-floating me-2 flex-fill">
              <input type="number" class="form-control" id="banDurationMinutes"
                     placeholder="Minutes" th:field="*{ruleset.banTimeMinutes}">
              <label for="banDurationMinutes">Minutes</label>
            </div>
            <div class="form-floating flex-fill">
              <input type="number" class="form-control" id="banDurationSeconds"
                     placeholder="Seconds" th:field="*{ruleset.banTimeSeconds}">
              <label for="banDurationSeconds">Seconds</label>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <div class="align-checkbox">
            <input type="checkbox" class="form-check-input" id="permanentBan">
            <label class="form-check-label" for="permanentBan"
                   th:field="*{ruleset.permanentBan}">Permanent Ban</label>
          </div>
        </div>
      </div>

      <div class="card-body">
        <h5 class="card-title">Ban Ruleset combinations</h5>
        <div class="mb-3 row">
          <label for="parametersOption" class="form-label">Parameters</label>
          <select class="form-control" id="parametersOption" name="ruleset.params" multiple>
            <option th:each="parameter : ${api.parameters}"
                    th:text="${parameter.name + '[' + parameter.type + ']'}"
                    th:data-paramhash="${parameter.paramHash}"
                    th:selected="${api.ruleset.params.contains(parameter)}"></option>
          </select>
        </div>
        <div class="mb-3 row">
          <label for="headerOption" class="form-label">Custom Header</label>
          <select class="form-control" id="headerOption" multiple></select>
        </div>
        <div class="form-check mb-3">
          <input type="checkbox" class="form-check-input"
                 id="ipBlock"
                 th:field="*{ruleset.ipBased}">
          <label class="form-check-label" for="ipBlock">Enable IP-based Blocking</label>
        </div>
      </div>
    </div>

    <div class="mt-3">
      <button type="submit" class="btn btn-primary">Apply</button>
    </div>
  </form>
</div>

</html>
