<!DOCTYPE html>
<html layout:decorate="~{/templates/layout/default_layout.html}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <script th:inline="javascript">
    /*<![CDATA[*/
    let endpoints = [[${endpoints}]];
    /*]]>*/

    console.log(endpoints);

    window.onload = function () {
      new DataTable('#table', {
        columns: [
          {title: 'ID', data: 'id', visible: false},
          {title: 'path', data: 'path'},
          {title: 'fqcn', data: 'fqcn'},
          {title: 'Http method', data: 'httpMethod'},
          {
            title: 'Rule Activated',
            data: 'activated',
            render: function (data) {
              // temporary fix for null data
              if (data === null) {
                return '<span class="badge bg-warning">Not configured</span>';
              }

              if (data) {
                return '<span class="badge bg-success">Activated</span>';
              } else {
                return '<span class="badge bg-danger">Deactivated</span>';
              }
            }
          },
          {title: 'Last modified', data: 'updatedAt'},
          {
            title: 'Actions',
            data: 'id',
            render: function (data, type, row, meta) {
              return '<button class="btn btn-primary btn-sm" onclick="configure(' + data
                  + ')" title="Configure"><i class="bi bi-gear-fill"></i></button> ' +
                  '<button class="btn btn-info btn-sm" onclick="analyze(' + data
                  + ')" title="Analyze"><i class="bi bi-bar-chart-line-fill"></i></button>';
            }
          }
        ],
        data: [
          ...endpoints
        ],
      });
    }

    function configure(id) {
      window.location.href = window.location.pathname + '/' + id;
    }

    function analyze(id) {
      window.location.href = window.location.pathname + '/' + id + '/analytics';
    }
  </script>
  <title>Manage</title>
</head>

<div class="content" layout:fragment="content">
  <h1 class="mt-4">Rate Limit</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Manage</li>
  </ol>

  <table id="table">

  </table>
</div>

</html>
