<!DOCTYPE html>
<html layout:decorate="~{/templates/layout/default_layout.html}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <script>
    function configure(idx) {
      window.location.href = window.location.pathname + '/' + idx;
    }

    function analyze(idx) {
      window.location.href = window.location.pathname + '/' + idx + '/analytics';
    }

    $(document).ready(function () {
      $('#table').DataTable();
    });
  </script>
  <title>Manage</title>
</head>

<div class="content" layout:fragment="content">
  <h1 class="mt-4">Rate Limit</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Manage</li>
  </ol>


  <table id="table" class="table">
    <thead>
    <tr>
      <th>Path</th>
      <th>Method Signature</th>
      <th>HTTP Method</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="endpoint : ${endpoints}">
      <td th:text="${endpoint.path}"></td>
      <td th:text="${endpoint.methodSignature}"></td>
      <td th:text="${endpoint.httpMethod}"></td>
      <td>
          <span th:class="${'badge ' + (endpoint.ruleStatus == 'NOT_CONFIGURED' ? 'bg-warning' : (endpoint.ruleStatus == 'ACTIVE' ? 'bg-success' : 'bg-danger'))}"
                th:text="${endpoint.ruleStatus == 'NOT_CONFIGURED' ? 'Not configured' : endpoint.ruleStatus}"></span>
      </td>
      <td>
        <button class="btn btn-primary btn-sm" th:onclick="'configure(\'' + ${endpoint.id} + '\')'" title="Configure">
          <i class="bi bi-gear-fill"></i>
        </button>
        <button class="btn btn-info btn-sm" th:onclick="'analyze(\'' + ${endpoint.id} + '\')'" title="Analyze">
          <i class="bi bi-bar-chart-line-fill"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

</html>
