<!DOCTYPE html>
<html layout:decorate="~{/templates/layout/default_layout.html}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <script th:inline="javascript">
    /*<![CDATA[*/
    let endpoints = [[${endpoints}]];
    /*]]>*/

    console.log(endpoints);

    $(document).ready(function () {

      new DataTable('#table', {
        columns: [
          {title: 'hash', data: 'hash', visible: false},
          {title: 'path', data: 'path'},
          {title: 'fqcn', data: 'fqcn'},
          {title: 'Http method', data: 'httpMethod'},
          {
            title: 'status',
            data: 'ruleset.status',
            render: function (data) {
              switch (data) {
                case 'NOT_CONFIGURED':
                  return '<span class="badge bg-warning">Not configured</span>';
                case 'ACTIVE':
                  return '<span class="badge bg-success">ACTIVE</span>';
                default:
                  return '<span class="badge bg-danger">INACTIVE</span>';
              }
            }
          },
          // TODO: support it
          // {title: 'Last modified', data: 'updatedAt'},
          {
            title: 'Actions',
            data: 'hash',
            render: function (data, type, row, meta) {
              return '<button class="btn btn-primary btn-sm" onclick="configure(\'' + data
                  + '\')" title="Configure"><i class="bi bi-gear-fill"></i></button> ' +
                  '<button class="btn btn-info btn-sm" onclick="analyze(\'' + data
                  + '\')" title="Analyze"><i class="bi bi-bar-chart-line-fill"></i></button>';
            }
          }
        ],
        data: [
          ...endpoints
        ],
      });
    });

    function configure(apiHash) {
      window.location.href = window.location.pathname + '/' + apiHash;
    }

    function analyze(apiHash) {
      window.location.href = window.location.pathname + '/' + apiHash + '/analytics';
    }
  </script>
  <title>Manage</title>
</head>

<div class="content" layout:fragment="content">
  <h1 class="mt-4">Rate Limit</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Manage</li>
  </ol>

  <table id="table">

  </table>
</div>

</html>
